RL*.code-workspace
rl_method/data/*
rl_method/data/testing/*.ai
rl_method/models/*
QATM/notebooks/shape_tests/*
QATM/notebooks/evaluate/*.tif
QATM/notebooks/evaluate/alpha_testing/loop/archive/*
QATM/notebooks/evaluate/alpha_testing/loop/error_arrays/*
QATM/notebooks/evaluate/alpha_testing/loop/geotif/*
QATM/notebooks/evaluate/alpha_testing/loop/masks/*
QATM/notebooks/evaluate/alpha_testing/loop/*.png
QATM/notebooks/evaluate/alpha_testing/loop/score_arrays/*
QATM/notebooks/evaluate/alpha_testing/loop/shapes/*
